* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.body-main {
  width: 1600px;
  height: 837px;
  margin: 0 auto;
}
.main-header {
  background: #fff8f3;
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 226px;
  margin-right: 230px;
}
.nav-ul {
  display: flex;
  align-items: center;
  margin-top: 68px;
}
.r {
  color: #fd6e0a;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  margin-top: 51px;
}
.nav-list {
  list-style-type: none;
  margin-right: 51px;
}
.nav-list:last-child {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.button-primary {
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: #fd6e0a;
  padding: 18px 35px 19px 36px;
  border-radius: 5px;
  border: 0;
}
.bannar {
  padding: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannar-details {
  width: 585px;
}
.bannar-button1 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #fd6e0a;
  padding: 19px 17px 18px 51px;
  border-radius: 5px;
  border: 0;
  margin-top: 30px;
}
.bannar-button2 {
  color: #fd6e0a;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff8f3;
  padding: 19px 23px 18px 58px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  margin: 30px 0 0 30px;
}
.bannar-name {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.bannar-heading {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}
.bannar-content {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.profile {
  height: 676px;
  width: 584px;
}
